[package]
name = "dummyhttp"
version = "0.6.0"
description = "Super simple HTTP server that replies with a fixed body and a fixed response code"
authors = ["Sven-Hendrik Haase <svenstaro@gmail.com>"]
repository = "https://github.com/svenstaro/dummyhttp"
license = "MIT"
readme = "README.md"
keywords = ["dummy", "fake", "http-server", "http", "server"]
categories = ["command-line-utilities", "command-line-interface", "network-programming", "web-programming::http-server"]
edition = "2018"

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1
strip = true

[dependencies]
Inflector = { version = "0.11", default-features = false }
anyhow = "1"
axum = { version = "0.5", features = ["http2"] }
axum-server = { version = "0.4", features = ["tls-rustls"] }
chrono = "0.4.20"
clap = { version = "3.2", features = ["derive", "cargo", "wrap_help"] }
clap_complete = "3.2.3"
clap_mangen = "0.1"
colored = "2"
colored_json = "2"
hyper = { version = "0.14" }
lipsum = "0.8"
serde_json = "1.0"
tera = "1"
tokio = { version = "1.0", features = ["rt-multi-thread"] }
tower = { version = "0.4", features = ["util", "filter"] }
uuid = { version = "1", features = ["v4"] }

[dev-dependencies]
assert_cmd = "2.0"
port_check = "0.1"
predicates = "2"
pretty_assertions = "1.2"
reqwest = { version = "0.11", features = ["blocking"] }
rstest = "0.15"
url = "2.2"
