[package]
name = "dummyhttp"
version = "0.2.2"
description = "Super simple HTTP server that replies with a fixed body and a fixed response code"
authors = ["Sven-Hendrik Haase <svenstaro@gmail.com>"]
repository = "https://github.com/svenstaro/dummyhttp"
license = "MIT"
readme = "README.md"
keywords = ["dummy", "fake", "http-server", "http", "server"]
categories = ["command-line-utilities", "command-line-interface", "network-programming", "web-programming::http-server"]
edition = "2018"

[badges]
travis-ci = { repository = "svenstaro/dummyhttp", branch = "master" }
maintenance = { status = "actively-developed" }

[profile.release]
lto = true

[dependencies]
clap = "2.33"
actix-web = "1.0"
actix-service = "0.4"
actix-http = "0.2"
simplelog = "0.7"
log = "0.4"
futures = "0.1.25"
chrono = "0.4"
