[package]
name = "dummyhttp"
version = "0.4.3"
description = "Super simple HTTP server that replies with a fixed body and a fixed response code"
authors = ["Sven-Hendrik Haase <svenstaro@gmail.com>"]
repository = "https://github.com/svenstaro/dummyhttp"
license = "MIT"
readme = "README.md"
keywords = ["dummy", "fake", "http-server", "http", "server"]
categories = ["command-line-utilities", "command-line-interface", "network-programming", "web-programming::http-server"]
edition = "2018"

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1
panic = 'abort'

[dependencies]
structopt = "0.3"
actix-web = { version= "1.0", features = ["rust-tls"] }
actix-service = "0.4"
actix-http = "0.2"
http = "0.2"
simplelog = "0.8"
log = "0.4"
futures = "0.1.29"
chrono = "0.4"
rustls = "0.15"
yansi = "0.5"
Inflector = "0.11"
serde_json = "1.0"
colored_json = "2"
anyhow = "1"

[dev-dependencies]
assert_cmd = "1.0"
reqwest = { version = "0.10", features = ["blocking"] }
port_check = "0.1"
rstest = "0.6"
pretty_assertions = "0.6"
url = "2.2"
predicates = "1"
